/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Main styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.project {
    margin-bottom: 20px;
    text-align: center;
    
}

.project img {
    max-width: 100%;
    height: auto;
}

.skills {
    text-align: center;
}

.skills ul {
    list-style: none;
    padding-left: 0;
}

.skills li {
    margin-bottom: 10px;
}

/* Center text in sections */
section:not(#contact) p,
section:not(#contact) ul {
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style: none;
    display: flex;
}

.footer-content ul li {
    margin-right: 10px;
}

.footer-content ul li a {
    color: #fff;
    text-decoration: none;
}

/* Form styles */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Remove dots */
.skills li::before {
    display: none;
}


  